#part2_page1 {
    background-color: black;
    position: relative;
}

#page1_redline1,
#page1_redline2 {
    position: absolute;
    background-color: #ff4e4e;
    opacity: 0.2;
}

#page1_livequest1,
#page1_livequest2 {
    width: 11.5%;
    height: 4.35%;
    left: 6.5%;
    position: absolute;
    background-image: url(../src/p2_p1_livequest.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

#page1_title1,
#page1_title2 {
    width: 33%;
    height: 22%;
    left: 6.5%;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

#page1_title1 {
    background-image: url(../src/p2_p1_title1.png);
}

#page1_title2 {
    position: absolute;
    background-image: url(../src/p2_p1_title2.png);
}

#page1_phone {
    position: fixed;
    left: 49.8%;
    background-image: url('../src/p2_p1_phone.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#part2_page2 {
    background-color: #f3f8ff;
    position: relative;
}

#page1_card0,
#page1_card1,
#page1_card2,
#page1_card3,
#page1_card4,
#page1_card5 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

#page1_card0 {
    background-image: url('../src/p2_p1_card0.png');
}

#page1_card1 {
    background-image: url('../src/p2_p1_card1.png');
}

#page1_card2 {
    background-image: url('../src/p2_p1_card2.png');
}

#page1_card3 {
    background-image: url('../src/p2_p1_card3.png');
}

#page1_card4 {
    background-image: url('../src/p2_p1_card4.png');
}

#page1_card5 {
    background-image: url('../src/p2_p1_card5.png');
}

#reaction_title,
#reaction_subtitle,
#reaction_phone,
#moving_phone,
#memeplay_phone {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#reaction_title {
    background-image: url('../src/p2_p2_title1.png');
}

#reaction_subtitle {
    background-image: url('../src/p2_p2_title1_sub.png');
}

#reaction_phone,
#moving_phone,
#memeplay_phone {
    background-image: url('../src/p2_p2_phone1.png')
}

#page2_image_box {
    display: none;

    animation-name: grow;
    animation-duration: 2s;

    position: absolute;
}

@keyframes grow {
    from {
        transform: scale(0);
    }

    70% {
        transform: scale(1.2);
    }

    to {
        transform: scale(1);
    }
}

.images {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center, center;
}

#image_reaction {
    z-index: 2;
}

#reaction_button {
    position: absolute;
    background-image: url('../src/p2_p2_button.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center, center;
    cursor: pointer;
}

#image_star3,
#image_gummybear {
    z-index: 3;
}

#reaction_detail1,
#reaction_detail2,
#reaction_detail3,
#memeplay_detail1,
#memeplay_detail2,
#memeplay_detail3 {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center, center;
}

#reaction_detail1 {
    background-image: url('../src/p2_p2_reaction_detail1.png');
}

#reaction_detail2 {
    background-image: url('../src/p2_p2_reaction_detail2.png');
}

#reaction_detail3 {
    background-image: url('../src/p2_p2_reaction_detail3.png');
}

#page2_moving_box {
    position: absolute;
}

#memeplay_title,
#memeplay_subtitle,
#memeplay_phone,
#moving_phone {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#memeplay_title {
    background-image: url('../src/p2_p2_title2.png');
    z-index: 5;
}

#memeplay_subtitle {
    background-image: url('../src/p2_p2_title2_sub.png');
}

#memeplay_detail1 {
    /* background-image: ; */
    background-color: red;
}

#memeplay_detail2 {
    /* background-image: ; */
    background-color: red;
}

#memeplay_detail3 {
    /* background-image: ; */
    background-color: red;
}

#part2_page3 {
    background-color: black;
    position: relative;
}

.friday {
    transition: all .2s ease-in-out;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

.friday:hover {
    transform: scale(1.1);
}

#searching_title,
#searching_detail,
#searching_bar,
#searching_result1,
#searching_result2,
#searching_result3,
#searching_result4,
#searching_result5,
#searching_result6,
#searching_click {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center, center;
}



#part2_page4 {
    background-color: #f3f8ff;
    position: relative;
}

#p2_p4_detail,
#p2_p4_logo,
#p2_p4_star,
#p2_p4_sad,
#p2_p4_wow,
#p2_p4_smile,
#p2_p4_greencool,
#p2_p4_pinkcool,
#p2_p4_thankyou,
#LJY,
#BJH,
#CMH {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

#LJY {
    background-image: url('../src/p2_p4_LJY.png');
}

#BJH {
    background-image: url('../src/p2_p4_BJH.png');
}

#CMH {
    background-image: url('../src/p2_p4_CMH.png');
}

#p2_p4_detail {
    background-image: url('../src/p2_p4_detail.png');
}

#p2_p4_logo {
    background-image: url('../src/p2_p4_logo.png');
}

#p2_p4_star {
    background-image: url('../src/p2_p4_star.png');
}

#p2_p4_sad {
    background-image: url('../src/p2_p4_sad.png');
}

#p2_p4_wow {
    background-image: url('../src/p2_p4_wow.png');
}

#p2_p4_smile {
    background-image: url('../src/p2_p4_smile.png');
}

#p2_p4_greencool {
    background-image: url('../src/p2_p4_greencool.png');
}

#p2_p4_pinkcool {
    background-image: url('../src/p2_p4_pinkcool.png');
}

#p2_p4_thankyou {
    background-image: url('../src/p2_p4_thankyou.png');
}